.menu {

    width: 100%;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5) 40%, rgba(0, 0, 0, 0.1) 90%);
    position: absolute;
    height: auto;
    z-index: 99999999;

}

.menu .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: auto;
    padding: 15px;
    max-width: 1400px;
}
.menu-mobile{
    display: none;
    cursor: pointer;
    display: none;
    gap: 20px;
    
}

.menu-mobile a  {
    text-decoration: none;
    font-family: Helvetica;
    font-size: 16px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    z-index: 9999;
    color: #0c2633;
   
    transition: ease-in-out .4s;
    
   
}
.container-menu-mobile{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0c2633;
   width: auto;
    height: auto;
    position: fixed;
   
    
}
.wrapper-menu-mobile{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  
    gap: 30px 0;
    padding-top: 100px;
    padding-bottom: 10px;
   
    
}



.logo-menu {
    width: 20%;
    display: flex;
    justify-content: center;
    align-content: center;
z-index: 9999;

}

.logo-menu img {
    width: 75%;
    height: auto;
    object-fit: contain;
    cursor: pointer;
    z-index: 9999;



}

.menu .links {

    display: flex;
    gap: 20px;

}

.container-menu-mobile .links-mobile {
   
    transition: ease-in-out .4s;

}

.menu .links a, .container-menu-mobile a {
    text-decoration: none;
    font-family: Helvetica;
    font-size: 15px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    z-index: 9999;
    color: #0c2633;
    color: white;
    transition: ease-in-out .4s;


}

.menu .links a:hover,
.container-menu-mobile .links-mobile a:hover
 {
    color: #fb2f3f;
    /* #fb2f3f */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    font-family: Helvetica;
}




.button-assine {
    z-index: 999;
}

.button-assine button {
    font-size: 12px;
    font-weight: 600;
    text-transform: none;
    fill: #FFFFFF;
    color: #FFFFFF;

    border-width: 0px 0px 0px 0px;
    border-radius: 20px 20px 20px 20px;
    padding: 10px 28px 10px 28px;
    transition: ease-in-out .4s;

}

.button-assine:hover {
    transform: scale(1.1);
    transition: ease-in-out .4s;
}

a.active   {
   color: #fb2f3f !important;

}

.menu-mobile a:hover{
    
    background-color: #0c2633;
}


@media screen and (max-width: 910px) {


    .menu .links a {
        font-size: 14px;
    }

    .button-assine button {
        font-size: 12px;
        font-size: 12px;
        padding: 8px 15px 8px 15px;


    }
}

@media screen and (max-width: 841px) {


    .menu .links a {
        font-size: 12px;
    }

    .button-assine button {
        font-size: 12px;
        font-size: 12px;
        padding: 8px 15px 8px 15px;


    }
}


@media screen and (max-width: 768px) {

    .menu{
        position: fixed;
      
    }
  
    .menu-mobile{
        display: block;

    }
   .container-menu-mobile{
        position: sticky;

   }

    .logo-menu {
        width: 30%;
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .logo-menu img {
        width: 100%;
        height: 100%;


    }

    .menu .links a {
        display: none;
    }

    .button-assine {
        display: none;
    }
}

@media screen and (max-width: 468px) {
    .logo-menu {
        width: 40%;

    }

}