.container-button-whats {


    bottom:  5px;
    position: fixed;
    right: 20px;
    z-index: 9999999;
 
}

.box-button {
    border: none;
    padding: 13px;
    border-radius: 100%;
    background-color: #25d366;

    animation-duration: 2s !important;
    animation-timing-function: ease !important;
    animation-delay: 0s !important;
    animation-iteration-count: infinite !important;
    animation-direction: normal !important;
    animation-fill-mode: none !important;
    animation-play-state: running !important;
    animation-name: pulse !important;

    /* 
    animation-duration: 2s !important;

    animation-delay: 0s !important;
    animation-iteration-count: infinite !important;
    animation-direction: normal !important; */


}

.container-button-whats .icon-button-whats {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

}
 .icon-button-whats{
font-size: 35px;
}


@keyframes pulse {


    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgb(0 230 118 / 53%);
        
        
       
    }


    70% {
        transform: scale(1.2);
        box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}





@media screen and (max-width : 458px) {
   
    .container-button-whats {
        display: flex;
        justify-content: center;
        align-items: center;
        
        
    }
    .box-button {
        border: none;
        padding: 12px;
    }
    .icon-button-whats{
        font-size:25px ;
    }
}